
<h1>Personal Dictionary</h1>
<h3>Add a word and your definition! <br> Enter the word along with the definition you wish to give it.</h3>

<h2><a href="/words">View All Words</a></h2>
<br>
<h2><a href="/words/new">Add a New Word</a></h2>
