<h1>Add your word:</h1>

<form action="/words" method="post">
  <div class="form-group">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text" class="form-control">
  <button type="submit" class="btn btn-success">Add Task</button>
</form>
</div>
